*{
    margin: 0;
    padding: 0;
}

.tables{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    color: brown;
    text-transform: capitalize;
    background-color: rgb(243, 209, 57);
    height: 80vh;
    border: 2px solid rgb(255, 0, 0);
    margin: auto;
    width: calc(100vw - 20vw);
    border-radius: 23px;
}


.table-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 60vh;
    border-radius: 20px;
    margin-top: 15px;
    width: 20vw;

}

.table-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 60vh;
    border-radius: 20px;
    margin-top: 15px;
    width: 20vw;

}



.table-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 60vh;
    border-radius: 20px;
    margin-top: 15px;
    width: 20vw;

}


@media only screen and (max-width: 415px) {
    .tables{
        flex-direction: column;
        background-color: aqua;
        height: 433px;
    }
}